body,
html {
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game {
    display: grid;
    position: relative;
}

.board {
    background: black;
    display: grid;
    margin: 1px;
}

.square {
    background: gray;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: transparent;
    user-select: none;
}

.checked {
    background: green;
    color: white;
}

.hover {
    background: rgb(129, 86, 86);
    border: 1px solid red;
}

.checked.hover {
    background: rgb(0, 95, 0);
    border: 1px solid red;
}

.flagged {
    background: red;
}

.mine {
    background: red !important;
}

.reset-screen {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 5em;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.reset-button {
    font-size: .5em;
    background: white;
    color: black;
    border: 1px solid black;
    padding: 0.25em;
    cursor: pointer;
    margin-top: 1rem;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 50vh;
}